/* CSS reset to create a more consistent look across different browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Use a basic, widely-supported font */
    line-height: 1.6; /* A basic line-height for readability */
    color: #333; /* A basic text color that's not too harsh */
    background-color: #fff; /* A basic background color */
}
form {
    background-color: rgb(114, 114, 183);
}

h1, h2 {
    font-weight: bold;
}
h1 {
    text-align: center;
}
nav, menu {
    text-align: center;
}

aside, footer, main, header {
    background-color: rgb(203, 203, 251);
}

.btn-sub {
    font-size: 18px;
}
